<span id="home"></span>

<section class="hero">
  <img src="{{site.dir.img}}logo-big.png" alt="Tesla - a powerful web framework for Node.js" class="hero-img">
</section>

<nav class="main-nav">
  
  <a href="#"><img src="{{site.dir.img}}logo-tiny.png" alt="Tesla.js" class="logo"></a>

  <ul>
      <li><a href="docs">Docs</a></li>
      <li><a href="https://github.com/teslajs/tesla.js/" target="_blank">Github</a></li>
  </ul>

</nav>
