<section id="about-section" class="doc-section">

  <!-- ABOUT -->
  <h1 id="about">Tesla.js</h1>

  <p>Tesla is a modern MVC style framework built on to of <a href="http://nodejs.org/">Node.js</a> and <a href="http://expressjs.com/">Express</a>. It's build to be fast, simple &amp; easy to configure, with sane defaults and flexible boilerplates to get you up and running as quickly as possible.</p>

</section>
