{{!-- CREDIT --}}
<section id="credits-section" class="doc-section">

<a class="top-link" href="#home">back to top</a>
<h2 id="credits">Credits</h2>


<strong>Developed by:</strong> <a href="http://github.com/jesseweed" target="_blank">Jesse Weed</a>

<br>

<strong>Inspired by:</strong> <a href="https://github.com/visionmedia/express" target="_blank">Express</a>, <a href="http://sailsjs.org" target="_blank">Sails.js</a> and <a href="https://github.com/linnovate/mean" target="_blank">MEAN</a>.

<br><br>

</section>
