{{!-- DEPLOYING --}}

{{!-- HEROKU --}}
<section id="deployment-section" class="doc-section">
  <a class="top-link" href="#home">back to top</a>
  <h2 id="heroku-quick-deployment">Heroku Quick Deployment</h2>


  <p>Before you start, make sure you have <a href="https://toolbelt.heroku.com/" target="_blank">Heroku toolbelt</a> installed and an accessible db instance if you have any models setup.</p>

  <pre class="code"><code class="bash">git init
  git add .
  git commit -m "initial version"
  heroku apps:create
  git push heroku master
  </code></pre>
</section>
