<section id="features-section" class="doc-section">

    <a class="top-link" href="#home">back to top</a>
    <h2 id="features">Features</h2>

    <section class="feature-box">
        <h4>MVC</h4>
        <p>Simple but useful MVC structure with optional scaffolding that can auto-create models, controllers &amp; even a simple JSON API for you. Models use Node-ORM so you’re not tied to a specific database.</p>
    </section>

    <section class="feature-box">
        <h4>Auto-routing</h4>
        <p>If your url’s follow a domain.com/controller/action/:id or domain.com/view/index format, there’s no need to create any custom routing. Tesla will attempt to automatically load the controller/view if it can find it, and throw a 404 if it’s not.</p>
    </section>

    <section class="feature-box">
        <h4>Flexible Templates</h4>
        <p>You can choose from EJS, Handlebars, Hogan, Jade or Mustache for templates. Less, Sass &amp; Stylus are available for css pre-processors.</p>
    </section>

    <section class="feature-box">
        <h4>Boilerplates</h4>
        <p>Tesla uses a combination of npm and bower to help create some useful boilerplates when setting up a new app. You can choose to have Tesla add things like jQuery, AngularJS, Foundation, etc. to your view templates automatically when it creates the project.</p>
    </section>

    <section class="feature-box">
        <h4>Auto-watch &amp; LiveReload</h4>
        <p>Tesla utilizes the Gulp task runner to watch for file changes, restarting the server when necessary. It also comes with LiveReload out of the box to auto refresh your browser when files change.</p>
    </section>

    <section class="feature-box">
        <h4>Socket.io</h4>
        <p>Tesla has Socket.io built right in, so if you need to work with Websockets there's no setup or configuration needed, it just works!</p>
    </section>

    <section class="feature-box">
        <h4>Easy Configuration</h4>
        <p>Almost all of the server settings (port number, database settings, etc.) can be easily updated in the config file.</p>
    </section>

</section>
