<!-- INSTALLATION -->
<section id="installation-section" class="doc-section">

<a class="top-link" href="#home">back to top</a>
<h2 id="installation">Installation</h2>


<h4 id="prerequisites">Prerequisites:</h4>

<p><a href="http://nodejs.org/">Node.js</a> &amp; <a href="https://npmjs.org/">NPM</a> are the only absolute requirements, but it's highly recommended that you install <a href="http://gulpjs.com/">Gulp</a> as well:</p>

<pre class="code"><code>$ npm install gulp  -g
</code></pre>

<p>While it's not required, Tesla is configured to use Gulp for the majority of it's tasks. If you have any trouble installing it, refer to the <a href="https://github.com/gulpjs/gulp/blob/master/README.md#gulp---">Gulp documentation</a> for help.</p>

<h4 id="installing-tesla">Install Tesla</h4>

<p>Once you have NPM up &amp; running, getting Tesla installed is pretty painless:</p>

<pre class="code"><code>$ npm install tesla-cli -g
</code></pre>


<h4 id="installing-tesla">Update Tesla</h4>
<code class="code-inline">$ npm update tesla-cli -g</code>

</section>
