{{> header}}

{{> hero}}


<section class="content">

  <h1>Docs</h1>

  <p>Proper documentation is in the works. In the meantime, please check out the Guide on the <a href="../">home page</a>, or view the project README on <a href="https://github.com/teslajs/tesla.js/blob/master/README.md">Github</a>.</p>

</section>

{{> footer}}
