{{> header}}

{{> hero}}

<section class="content">

  {{> docs/nav}}
  {{> intro}}
  {{> docs/features}}
  {{> docs/installation}}
  {{> docs/quickstart}}
  {{> docs/configuration}}
  {{> docs/routing}}
  {{> docs/data}}
  {{> docs/troubleshooting}}
  {{> docs/deploying}}
  {{> docs/credit}}

</section>

{{> footer}}
